@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-gray-100 h-screen;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-black {
  @apply rounded-full bg-black text-white py-2 px-5 capitalize;
}

.btn-blue {
  @apply rounded-full bg-blue-600 text-white py-2 px-5 capitalize;
}

h1 {
  @apply font-bold text-4xl;
}
.content-header {
  @apply font-semibold text-3xl;
}
